@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background: var(--background, #FEAFC3);
  color: #000000;
}

img {
  /* нормализация тега IMG */
  max-width: 100%;
  object-fit: contain;
}

.main-page,
.main-inner {
  flex-grow: 1;
  /* делаем MAIN жадным через свойство flex-grow; реализуем sticky-footer */
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: grid;
    opacity: 0;
  }

  100% {
    display: grid;
    opacity: 1;
  }
}


/*-↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------БЛОК НАВИГАЦИИ ---------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-----------*/

.header-wrapper {
  display: flex;
  width: 1170px;
  align-items: center;
  margin: 0 auto;
  padding: 24px 0;
}

.logo-link {
  position: relative;
  display: block;
  width: 137px;
  margin-right: 16px;
  transition: 0.4s;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus-visible {
  outline: none;
}

.logo-link:focus-visible::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -4px;
  top: -4px;
  border: 2px solid #2D3440;
}

.logo-link:active {
  opacity: 0.3;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navigation {
  position: relative;
  display: flex;
}

.catalog-button {
  position: relative;
  display: flex;
  padding: 8px 36px 8px 16px;
  margin: 0;
  color: var(--color, #2D3440);
  border-radius: 30px;
  border: 0;
  background-color: var(--background-color, transparent);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: 0.4s;
}

.catalog-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  left: 85px;
  top: var(--top, 8.5px);
  background-image: var(--background-image, url('../images/down-arrow.svg'));
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-button:hover {
  background: var(--background-hover, rgba(252, 252, 252, 0.5));
  opacity: var(--opacity-hover, 1);
}

.catalog-button:focus-visible {
  background: var(--background-hover, rgba(252, 252, 252, 0.5));
  outline: none;
}

.catalog-button:focus-visible::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: var(--border, 2px solid #2D3440);
  border-radius: 30px;
  top: 0;
  left: 0;
}

.catalog-button:active {
  background: var(--background-active, rgba(252, 252, 252, 1));
  opacity: var(--opacity-active, 1);
}

.catalog-menu {
  position: absolute;
  content: '';
  display: var(--display, none);
  flex-direction: column;
  width: 103px;
  top: 44px;
  left: 1px;
  padding: 0;
  border-radius: 4px;
  background-color: #FCFCFC;
  animation: fadeInFromNone 0.6s ease-in-out;
  z-index: 1;
}

.catalog-novelties {
  display: flex;
  flex-direction: column;
  width: 135px;
  padding: 8px 16px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 135px;
  padding: 6px 16px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}


.navigation-item {
  position: relative;
  display: flex;
  padding: 8px 16px;
  text-decoration: none;
  color: #2D3440;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 30px;
  transition: 0.4s;
}

.navigation-item:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-item:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.navigation-item:focus-visible::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #2D3440;
  border-radius: 30px;
  top: 0;
  left: 0;
}

.navigation-item:active {
  background: rgba(252, 252, 252, 1);
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
  z-index: 1;
}

.contact-phone {
  position: relative;
  display: inline;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  padding-right: 0.656px;
  transition: 0.4s;
}

.contact-phone:hover {
  opacity: 0.6;
}

.contact-phone:focus-visible {
  outline: none;
}

.contact-phone:focus-visible::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -4px;
  top: -4px;
  border: 2px solid #2D3440;
}

.contact-phone:active {
  opacity: 0.3;
}


.search-button {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color, rgba(252, 252, 252, 0.3));
  border-radius: 27px;
  border: 0;
  transition: 0.4s;
}

.search-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  left: 8px;
  top: 7.5px;
  background-image: var(--background-image, url('../images/search-icon.svg'));
  background-repeat: no-repeat;
  background-position: center center;
}

.search-button:hover {
  background: var(--background-hover, rgba(252, 252, 252, 0.5));
  opacity: var(--opacity-hover, 1);
}

.search-button:focus-visible {
  outline: none;
}

.search-button:focus-visible::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: var(--border, 2px solid #2D3440);
  border-radius: 30px;
  top: 0;
  left: 0;
}

.search-button:active {
  background: var(--background-active, rgba(252, 252, 252, 1));
  opacity: var(--opacity-active, 1);
}

.search-form {
  position: absolute;
  content: '';
  display: var(--display, none);
  width: 160px;
  top: 44px;
  left: 1px;
  padding: 16px 16px 14px 16px;
  border-radius: 4px;
  background-color: #FCFCFC;
  animation: fadeInFromNone 0.6s ease-in-out;
}

.login-button {
  position: relative;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 6px 16.281px 6px 38.281px;
  color: var(--color, #2D3440);
  background-color: var(--background-color, rgba(252, 252, 252, 0.3));
  border-radius: 30px;
  border: 0;
  flex-wrap: wrap;
  transition: 0.4s;
}

.login-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  left: 15px;
  top: 7px;
  background-image: var(--background-image, url('../images/login-icon.svg'));
  background-repeat: no-repeat;
  background-position: center center;
}

.login-button:hover {
  background: var(--background-hover, rgba(252, 252, 252, 0.5));
  opacity: var(--opacity-hover, 1);
}

.login-button:focus-visible {
  outline: none;
}

.login-button:focus-visible::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: var(--border, 2px solid #000000);
  border-radius: 30px;
  top: 0;
  left: 0;
}

.login-button:active {
  background: var(--background-active, rgba(252, 252, 252, 1));
  opacity: var(--opacity-active, 1);
}

.login-form {
  position: absolute;
  content: '';
  display: var(--display, none);
  flex-direction: column;
  width: 324px;
  top: 39px;
  left: -120px;
  padding: 48px 48px 52px 48px;
  border-radius: 4px;
  background-color: #FCFCFC;
  animation: fadeInFromNone 0.6s ease-in-out;
}



.basket-button {
  position: relative;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 6px 16.5px 6px 38.5px;
  color: var(--color, #2D3440);
  background-color: var(--background-color, rgba(252, 252, 252, 0.3));
  border-radius: 30px;
  border: 0;
  outline: none;
  flex-wrap: wrap;
  transition: 0.4s;
}

.basket-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  left: 15px;
  top: 7px;
  background-image: var(--background-image, url('../images/сart-icon.svg'));
  background-repeat: no-repeat;
  background-position: center center;
}

.basket-button:hover {
  background: var(--background-hover, rgba(252, 252, 252, 0.5));
  opacity: var(--opacity-hover, 1);
}

.basket-button:focus-visible {
  outline: none;
}

.basket-button:focus-visible::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #000000;
  border-radius: 30px;
  top: 0;
  left: 0;
}

.basket-button:active {
  background: var(--background-active, rgba(252, 252, 252, 1));
  opacity: var(--opacity-active, 1);
}

.basket-form {
  position: absolute;
  content: '';
  display: var(--display, none);
  flex-direction: column;
  width: 324px;
  top: 41px;
  left: 10px;
  padding: 48px 48px 52px 48px;
  border-radius: 4px;
  background-color: #FCFCFC;
  animation: fadeInFromNone 0.6s ease-in-out;
}


/*-↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------------БЛОК НАВИГАЦИИ ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


.main-page {
  /*режем весь main на 7 ячеек с интервалом 80px  */
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
  gap: 80px;
}



/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ HERO БЛОК -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------*/


.hero-section {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.slider-content {
  display: none;
  grid-template-columns: 540px 580px;
  width: 1160px;
  gap: 17px;
  line-height: 10px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeInFromNone 0.6s ease-in-out;
  /*контент слайда плавно "проявляется" за 0.6 сек.*/
}

.hero-info {
  position: relative;
  display: flex;
  padding: 137px 0 134px 65px;
  flex-direction: column;
}

.hero-title {
  display: flex;
  width: 470px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.hero-description {
  display: flex;
  width: 429px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 44px;
  flex-wrap: wrap;
}

.slider-check + .slider-label {
  position: absolute;
  height: 12px;
  width: 12px;
  border: 1px solid rgba(252, 252, 252, 0.7);
  background-color: rgba(252, 252, 252, 0.7);
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.3;
  z-index: 5;
}

.slider-check {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
}



.slider-check.first,
.slider-label.first {
  bottom: 0;
  left: -4.5px;
}

.slider-check.second,
.slider-label.second {
  bottom: 0;
  left: 15.5px;
}

.slider-check.third,
.slider-label.third {
  bottom: 0;
  left: 35.5px;
}

.slider-check:checked + .slider-label {
  background: #FCFCFC;
  opacity: 1;
}

.slider-check:hover + .slider-label {
  opacity: 0.6;
}

.slider-check:focus-visible + .slider-label {
  outline: none;
}


.slider-label:focus-visible {
  outline: none;

}


.slider-check:focus-visible + .slider-label::after {
  position: absolute;
  content: '';
  display: block;
  top: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #2D3440;
}

.slider-check:active + .slider-label {
  opacity: 0.3;
}

.slider-check:checked + .slider-label + .slider-content {
  display: grid;
}

.slider-btn {
  position: absolute;
  display: flex;
  height: 38px;
  width: 38px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(173, 140, 140);
  background-size: 20px 60px;
  border-radius: 50%;
  border: 2px solid #FCFCFC;
  cursor: pointer;
  outline: none;
}

.left {
  top: 258px;
  left: 537px;
  background-image: url("../images/left-btn.svg");
}

.right {
  top: 258px;
  left: 849px;
  background-image: url("../images/right-btn.svg");
}

.hero-networks {
  position: absolute;
  margin: 0;
  margin-left: 0;
  bottom: -2px;
  left: 1057px;
  gap: 16px 12px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: #FCFCFC;
  border: 4px solid rgba(254, 175, 195, 0.7);
  color: #2D3440;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 14px 32px;
  margin-right: auto;
  margin-left: -4px;
}

/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ----------- HERO БЛОК ----------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ PROMO -----------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------*/
.promo-title {
  display: flex;
  width: 434px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  padding: 0 368px;
  margin: 0 auto;
  margin-bottom: 55px;
  flex-wrap: wrap;
}

.promo-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  gap: 40px 30px;
  padding: 0;
  flex-wrap: wrap;
}

.promo-item {
  display: flex;
  width: 570px;
  border-radius: 16px;
  background-color: #FF7799;
}

.promo-description {
  display: flex;
  flex-direction: column;
  width: 351px;
  padding: 36px 0 32px 36px;
}

.promo-name {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 28px;
  flex-wrap: wrap;
}

.promo-details {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
  flex-wrap: wrap;
}



/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ----------- PROMO -----------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------- BESTSELLERS -----------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ---------*/

.bestsellers-title {
  display: flex;
  width: 527px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  padding: 0 321.5px;
  margin: 0 auto;
  margin-bottom: 107px;
  flex-wrap: wrap;
}

.best-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  gap: 91px 30px;
  flex-wrap: wrap;
}

.best-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  background-color: #FCFCFC;
  border-radius: 8px;
  /* padding-top: 90px; */
}



.best-mask {
  display: flex;
  border-radius: 50%;
  margin-top: -51px;
  margin-bottom: 16px;

}

.best-title {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  padding: 0 40px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.best-description {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin: 0;
  padding: 0 40px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.price-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.best-price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.best-basket {
  display: block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background-color: #FF2F64;
  background-image: url("../images/opened-cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/*--------- -↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ------------- BESTSELLERS -----------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ ADVANTAGES -----------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------------*/

.advantages {
  display: flex;
  width: 1122px;
  background-image: url("../images/waffles-background.svg");
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
}

.advantages-internal {
  display: flex;
  flex-direction: column;
  width: 1122px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  display: flex;
  width: 995px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  padding: 56px 63.5px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px 32px;
  list-style-type: none;
  margin: 0;
  padding: 0 40px 56px 40px;
}

.advantages-item {
  position: relative;
  display: flex;
  padding-left: 64px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  flex-wrap: wrap;
}

.advantages-item::before {
  position: absolute;
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #2D3440;
  box-sizing: border-box;
}

.advantages-item:nth-child(1):before {
  background-image: url("../images/icecream-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages-item:nth-child(2):before {
  background-image: url("../images/cow-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages-item:nth-child(3):before {
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages-item:nth-child(4):before {
  background-image: url("../images/thermometer-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages-point {
  margin: 0;
}



/*--------- -↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ -------------- ADVANTAGES -----------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ SUBSCRIPTION -----------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------*/


.feedback-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  gap: 40px 30px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.blog-part {
  display: flex;
  flex-direction: column;
  width: 303px;
  padding: 32.59px 235px 67.15px 32px;
  border-radius: 16px;
  background-color: #FFFFFF;
  background-image: url("../images/blog-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.blog-title {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin-bottom: 12.22px;
  flex-wrap: wrap;
}

.blog-topic {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  flex-wrap: wrap;
}

.subscription-wrapper {
  display: flex;
  width: 558px;
  border-radius: 16px;
  background-color: #FFFFFF;
  background-image: url("../images/subscription-background.svg");
  background-size: cover;
  padding: 6px;
}

.subscription-part {
  display: flex;
  width: 518px;
  flex-direction: column;
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.subscription-action {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  margin-bottom: 42px;
  flex-wrap: wrap;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-line {
  display: flex;
  align-items: center;
  width: 332px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.field-line[placeholder] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 0 16px 0 16px;
}



.submit-button {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FCFCFC;
  padding: 14px 32px;
  border-radius: 26px;
  background-color: #FF2F64;
  border: 0;
  flex-wrap: wrap;
}


/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ------------ SUBSCRIPTION -----------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ DELIVERY ----------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------------*/

.delivery {
  display: flex;
  width: 1006px;
  gap: 135px;
  padding: 64px 64px 64px 100px;
  background-image: url("../images/delivery-background.jpg");
  background-size: cover;
  border-radius: 16px;
}

.delivery-intro {
  display: flex;
  flex-direction: column;
  width: 371px;
  padding: 104.5px 0 99px 0;
}

.delivery-title {
  display: flex;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.delivery-details {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  flex-wrap: wrap;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding: 40px 40px 42px 40px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-action {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.date-phone {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.order-date {
  display: flex;
  width: 117px;
  flex-direction: column;
  gap: 8px;
}

.order-phone {
  display: flex;
  width: 287px;
  flex-direction: column;
  gap: 8px;
}

.order-address {
  display: flex;
  width: 420px;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.date-input[value] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 0;
  text-align: center;
}

.date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  display: block;
  width: 110px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

.phone-input[placeholder],
.address-input[placeholder] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 0 16px 0 16px;
}

.date-input,
.phone-input,
.address-input {
  display: flex;
  align-items: center;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.date-label,
.phone-label,
.address-label {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  margin: 0 auto;
}

/*--------- -↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ --------------- DELIVERY ---------------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ FEEDBACK ----------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ---------------*/

.contacts-feedback {
  display: flex;
  flex-direction: column;
  width: 343px;
  min-height: 364px;
  padding: 64px 763px 64px 64px;
  background-image: url("../images/feedback-bg.jpg");
  background-size: cover;
  border-radius: 16px;
}

.feedback-title {
  margin: 0;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  width: 263px;
  padding: 40px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-title {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.contacts-detail {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.feedback-phone {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.phone-addition {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin-bottom: 32px;
}

/*--------- -↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ -------------- FEEDBACK ----------------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------*/



/*-- ===========↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓=============== F O O T E R =========================↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓========================= --*/
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 46px 0 48px 0;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 16px 12px;
  width: 108px;
  min-height: 28px;
  padding: 0;
  margin: 0;
  margin-left: 3.2px;
  padding-right: 96px;
  margin-bottom: auto;
  list-style-type: none;
}

.social-link {
  display: flex;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  transition: 0.4s;
}

.social-link:hover {
  display: flex;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.5);
  background: radial-gradient(#2D3440 0%, #2D3440 60%, #2D3440 3px, transparent 3px, transparent 1px);
}

.social-link:focus-visible {
  display: flex;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #2D3440;
  outline: none;
}

.social-link:active {
  display: flex;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.5);
  background: radial-gradient(#2D3440 0%, #2D3440 60%, #2D3440 3px, transparent 3px, transparent 1px);
  opacity: 0.5;
}

.footer-list {
  display: grid;
  grid-template-columns: 150px 206px;
  grid-template-rows: auto auto;
  gap: 8px 0;
  width: 356px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.footer-item {
  position: relative;
  display: flex;
  padding-left: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-item:nth-child(1) > .footer-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.footer-link::before {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
}

.footer-item:nth-child(1) > .footer-link::before {
  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  transition: 0.4s;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:focus-visible {
  outline: none;
}

.footer-link:focus-visible::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -4px;
  top: -4px;
  border: 2px solid #2D3440;
}

.footer-link:active {
  opacity: 0.3;
}

.academy-stamp {
  display: flex;
  flex-direction: column;
  width: 193px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-right: 14px;
  padding-top: 2px;
  color: #2D3440;
}

.htmlacademy-logo {
  margin-bottom: 11px;
}

.made-in {
  display: flex;
  margin: 0;
  margin-right: -3px;
  flex-wrap: wrap;
}

.academy-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
  text-underline-position: under;
}

/*-- =========== ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ =============== F O O T E R ======================== ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ====================== --*/




/*----------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------  МОДАЛЬНОЕ  ОКНО  -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ --------------*/


.modalwin {
  display: none;
  position: fixed;
  width: 570px;
  background: var(--background, #FCFCFC);
  top: 18.12958825%;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 5;
  animation: fadeInFromNone 0.6s ease-in-out;
}

.shadow {
  position: fixed;
  display: var(--display, none);
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(45, 52, 64, 0.3);
  left: 0;
  top: 0;
  animation: fadeInFromNone 0.6s ease-in-out;
}

.feedback-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 442px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 64px 66px 64px;
  background-color: #FCFCFC;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.promise {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 31px;
  flex-wrap: wrap;
}

.surname-input {
  display: flex;
  width: 442px;
  height: 48px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
}

.email-input {
  display: flex;
  width: 442px;
  height: 48px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
}

.message-input {
  display: flex;
  vertical-align: top;
  width: 442px;
  height: 149px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.surname-input[placeholder],
.email-input[placeholder],
.message-input[placeholder] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 0 16px 0 16px;
}

.message-input[placeholder] {
  padding-top: 13px;
  padding-left: 15px;
}

.close-button {
  position: absolute;
  display: block;
  width: 12.16px;
  height: 12.16px;
  border: 0;
  top: 36px;
  right: 36px;
  background-image: url("../images/cross-btn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFFFFF;
  transition: 0.4s;
}

.close-button:hover {
  opacity: 0.6;
}

.close-button:focus-visible {
  outline: none;
}

.close-button:focus-visible::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -4px;
  top: -4px;
  border: 2px solid #2D3440;
}

.close-button:active {
  opacity: 0.3;
}

.feedback-submit {
  margin-left: auto;
}

/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------Catalog header & Breadcrumbs ------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/


.catalog-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px;
}

.inner-header-title {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 29px 0 0 0;
  margin: 0;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item:not(:first-child)::before {
  content: '';
  display: block;
  width: 28px;
  height: 20px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-item:last-child {
  position: relative;
}

.breadcrumbs-item:last-child > .breadcrumbs-link::after {
  position: absolute;
  content: '';
  display: block;
  width: calc(100%);
  height: 1px;
  top: 19.5px;
  right: -1px;
  background-color: #2D3440;
}

.breadcrumbs-link {
  position: relative;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  transition: 0.4s;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:focus-visible {
  outline: none;
}

.breadcrumbs-item > .breadcrumbs-link:focus-visible::after {
  position: absolute;
  content: '';
  display: flex;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -4px;
  left: -4px;
  border: 2px solid #2D3440;
  ;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  cursor: pointer;
}

/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------Catalog header & Breadcrumbs -----------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------------*/



/*----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓   CATALOG PRODUCTS  ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------------------------------*/

.catalog-list {
  margin-bottom: 16px;
}

.pagination {
  position: relative;
  display: flex;
  width: 683px;
  margin: 0 auto;
  padding: 38px 0 77px 487px;
}

.pagination::after {
  position: absolute;
  content: '';
  display: block;
  width: 1170px;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
  align-items: center;
  width: 120px;
  list-style-type: none;
  padding: 0 24px;
  margin: 0;
  flex-wrap: wrap;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  flex-wrap: wrap;
  transition: 0.4s;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.active-link {
  background: #FCFCFC;
  border-radius: 50px;
  cursor: default;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  border-radius: 50px;
  box-sizing: border-box;
  outline: none;
}

.pagination-link:active {
  background: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
  border-radius: 50px;
  box-sizing: border-box;
}

.active-link,
.active-link:hover,
.active-link:focus-visible,
.active-link:active {
  background: #FCFCFC;
  border-radius: 50px;
  outline: none;
  cursor: default;
}


.back-btn {
  position: absolute;
  display: flex;
  width: 16px;
  height: 16px;
  top: 56px;
  right: 152px;
  padding: 0;
  border: 0;
  background-image: url("../images/left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.forward-btn {
  position: absolute;
  display: flex;
  width: 16px;
  height: 16px;
  top: 56px;
  right: 0;
  padding: 0;
  padding-right: 0;
  border: 0;
  background-image: url("../images/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.forward-btn:hover,
.back-btn:hover {
  opacity: 0.6;
}

.forward-btn:focus-visible,
.back-btn:focus-visible {
  outline: none;
}

.forward-btn:focus-visible::before,
.back-btn:focus-visible::before {
  position: absolute;
  content: '';
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -4px;
  top: -4px;
  border: 2px solid #2D3440;
}

.forward-btn:active,
.back-btn:active {
  opacity: 0.3;
}

.disabled-btn:hover,
.disabled-btn:focus-visible,
.disabled-btn:active {
  opacity: 1;
  border: 0;
  outline: none;
  cursor: default;
}


/*----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑   CATALOG PRODUCTS  ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------------------------------*/

/*---------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓------------ФИЛЬТР КАТАЛОГА ----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------*/


.filter {
  display: flex;
  width: 1170px;
  height: 148px;
  margin: 0 auto;
  margin-bottom: 95px;
}

.line1 {
  display: flex;
  width: 1170px;
  gap: 24px;
  flex-wrap: wrap;
}

.line2 {
  display: flex;
  width: 1170px;
  gap: 24px;
  flex-wrap: wrap;
}

.area-title {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 8px;
  padding-left: 16px;
  flex-wrap: wrap;
}

.area-container {
  display: flex;
  flex-direction: column;
}

.goods-options,
.slider-container1 {
  display: flex;
  width: 164px;
  height: 35.5px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 0 16px;
}

.filter-fatness,
.filter-additives {
  display: flex;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 0 24px;
}

.filter-submit {
  margin-top: auto;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 52.5px;
  color: #2D3440;
  cursor: pointer;
}


.catalog-wrapper {
  display: flex;
  width: 100%;
  background-color: #F0F0F0;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  width: 1170px;
  gap: 16.5px
}

.filter-additives {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-fatness {
  display: flex;
  align-items: center;
  gap: 16px;
}


/* --- ↓ ↓ ↓ -----кастомизация чекбоксов и радио в Фильтре каталога ----- ↓ ↓ ↓ -----*/

.additive-checkbox,
.fatness-radio {
  position: relative;
  align-items: center;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
  flex-wrap: wrap;
}

.fatness-radio {
  padding: 8px 0;
}

.additive-input,
.fatness-input {
  display: block;
  width: 14.66px;
  height: 14.66px;
  opacity: 0;
}

.additive-checkbox::before {
  position: absolute;
  content: '';
  top: 11.5px;
  left: -26px;
  display: block;
  height: 14.66px;
  width: 14.66px;
  border-radius: 3px;
  border: 1.33333px solid #2D3440;
  z-index: 2;
  cursor: pointer;
}

.fatness-radio::before {
  position: absolute;
  content: '';
  top: 10px;
  left: -36px;
  display: block;
  height: 14.66px;
  width: 14.66px;
  border-radius: 50%;
  border: 1.33333px solid #2D3440;
  cursor: pointer;
}

.additive-input.chocolate-box:checked ~ .additive-checkbox.chocolate-box::before,
.additive-input.sugar-box:checked ~ .additive-checkbox.sugar-box::before,
.additive-input.fruits-box:checked ~ .additive-checkbox.fruits-box::before,
.additive-input.syrups-box:checked ~ .additive-checkbox.syrups-box::before,
.additive-input.jams-box:checked ~ .additive-checkbox.jams-box::before {
  position: absolute;
  content: '';
  top: 11.5px;
  left: -26px;
  display: block;
  background-image: url("../images/checked-true.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 14.66px;
  width: 14.66px;
  border-radius: 3px;
  border: 1.33333px solid #2D3440;
}

.additive-input.chocolate-box:hover ~ .additive-checkbox.chocolate-box,
.additive-input.sugar-box:hover ~ .additive-checkbox.sugar-box,
.additive-input.fruits-box:hover ~ .additive-checkbox.fruits-box,
.additive-input.syrups-box:hover ~ .additive-checkbox.syrups-box,
.additive-input.jams-box:hover ~ .additive-checkbox.jams-box {
  opacity: 0.6;
}

.additive-input.chocolate-box:focus-visible ~ .additive-checkbox.chocolate-box::after,
.additive-input.sugar-box:focus-visible ~ .additive-checkbox.sugar-box::after,
.additive-input.fruits-box:focus-visible ~ .additive-checkbox.fruits-box::after,
.additive-input.syrups-box:focus-visible ~ .additive-checkbox.syrups-box::after,
.additive-input.jams-box:focus-visible ~ .additive-checkbox.jams-box::after {
  position: absolute;
  content: '';
  display: block;
  top: 10px;
  left: -39px;
  height: 22px;
  width: 22px;
  border: 2px solid #AF4FFF;
}

.additive-input.chocolate-box:active ~ .additive-checkbox.chocolate-box,
.additive-input.sugar-box:active ~ .additive-checkbox.sugar-box,
.additive-input.fruits-box:active ~ .additive-checkbox.fruits-box,
.additive-input.syrups-box:active ~ .additive-checkbox.syrups-box,
.additive-input.jams-box:active ~ .additive-checkbox.jams-box {
  opacity: 0.3;
}

.additive-input.chocolate-box:disabled ~ .additive-checkbox.chocolate-box,
.additive-input.sugar-box:disabled ~ .additive-checkbox.sugar-box,
.additive-input.fruits-box:disabled ~ .additive-checkbox.fruits-box,
.additive-input.syrups-box:disabled ~ .additive-checkbox.syrups-box,
.additive-input.jams-box:disabled ~ .additive-checkbox.jams-box {
  opacity: 0.1;
  cursor: default;
}

.fatness-input.zero-radio:checked ~ .fatness-radio.zero-radio::before,
.fatness-input.ten-radio:checked ~ .fatness-radio.ten-radio::before,
.fatness-input.thirty-radio:checked ~ .fatness-radio.thirty-radio::before,
.fatness-input.over-radio:checked ~ .fatness-radio.over-radio::before {
  position: absolute;
  content: '';
  top: 10px;
  left: -36px;
  display: block;
  background-image: url("../images/radio-checked.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 14.66px;
  width: 14.66px;
  border-radius: 50%;
  border: 1.33333px solid #2D3440;
}

.fatness-input.zero-radio:hover ~ .fatness-radio.zero-radio,
.fatness-input.ten-radio:hover ~ .fatness-radio.ten-radio,
.fatness-input.thirty-radio:hover ~ .fatness-radio.thirty-radio,
.fatness-input.over-radio:hover ~ .fatness-radio.over-radio {
  opacity: 0.6;
}

.fatness-input.zero-radio:focus-visible ~ .fatness-radio.zero-radio::after,
.fatness-input.ten-radio:focus-visible ~ .fatness-radio.ten-radio::after,
.fatness-input.thirty-radio:focus-visible ~ .fatness-radio.thirty-radio::after,
.fatness-input.over-radio:focus-visible ~ .fatness-radio.over-radio::after {
  position: absolute;
  content: '';
  top: 10px;
  left: -39px;
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid #AF4FFF;
}

.fatness-input.zero-radio:active ~ .fatness-radio.zero-radio,
.fatness-input.ten-radio:active ~ .fatness-radio.ten-radio,
.fatness-input.thirty-radio:active ~ .fatness-radio.thirty-radio,
.fatness-input.over-radio:active ~ .fatness-radio.over-radio {
  opacity: 0.3;
}

.fatness-input.zero-radio:disabled ~ .fatness-radio.zero-radio,
.fatness-input.ten-radio:disabled ~ .fatness-radio.ten-radio,
.fatness-input.thirty-radio:disabled ~ .fatness-radio.thirty-radio,
.fatness-input.over-radio:disabled ~ .fatness-radio.over-radio {
  opacity: 0.1;
  cursor: default;
}

/* -----↑ ↑ ↑-------кастомизация чекбоксов и радио в Фильтре каталога ------↑ ↑ ↑-----*/

.filter-area-title {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 12px 0 16.5px 0;
  flex-wrap: wrap;
}

.catalog-filter-area {
  display: flex;
  margin-bottom: 35px;
  flex-wrap: wrap;
}



/*--↓ ↓ ↓----double range slider ----------↓ ↓ ↓----------*/

.slider-container1 {
  display: flex;
  width: 200px;
}

.double-slider-wrapper {

  width: 218px;
  background: transparent;
}

.price-input {
  width: 100%;
  display: grid;
  grid-template-columns: 84px 84px;
  gap: 20px;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.field:focus-within::after {
  position: absolute;
  content: '';
  display: block;
  width: 80%;
  height: 90%;
  left: -4px;
  border: 2px solid #AF4FFF;
}

.input-min::-webkit-outer-spin-button,
.input-max::-webkit-outer-spin-button,
.input-min::-webkit-inner-spin-button,
.input-max::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.up-to {
  position: absolute;
  top: -29px;
  left: 0;
  margin-right: 4.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.input-min,
.input-max {
  position: absolute;
  display: flex;
  width: 44px;
  border: 0;
  padding: 0;
  top: -29px;
  left: 55px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FEAFC3;
  outline: none;
}

.input-max {
  left: 30px;
}

.double-slider {
  height: 2px;
  /*тощина  полосы-подкладки слайдера*/
  position: relative;
  top: 16px;
  background: rgba(86, 92, 102, 0.3);
  /*цвет полосы-подкладки слайдера*/
}

.double-slider .progress {
  height: 2px;
  /*тощина основной полосы слайдера*/
  left: 0%;
  /*начальная установка основной полосы слайдера*/
  right: 50%;
  /*начальная установка основной полосы слайдера*/
  position: absolute;
  border-radius: 5px;
  background: rgba(86, 92, 102, 1);
  /*цвет полосы слайдера*/
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 12.5px;
  left: 0;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.range-min {
  margin: 0;
}

.range-max {
  margin: 0;
}

.range-min:focus-visible {
  outline: none;
}

.range-max:focus-visible {
  outline: none;
}

.range-min:focus-visible::after {
  position: absolute;
  content: '';
  display: var(--display, block);
  width: 20px;
  height: 20px;
  top: -9.5px;
  left: -3px;
  border: 2px solid #AF4FFF;
}

.range-max:focus-visible::after {
  position: absolute;
  content: '';
  display: var(--display, block);
  width: 20px;
  height: 20px;
  top: -9.5px;
  left: 97px;
  border: 2px solid #AF4FFF;
}

.range-min::-webkit-slider-thumb,
.range-max::-webkit-slider-thumb {
  /* стилизация плашки */
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FCFCFC;
  border: 5px solid #2D3440;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
  transition: 0.3s;
}

.range-min::-webkit-slider-thumb:hover,
.range-max::-webkit-slider-thumb:hover {
  border: 2px solid rgb(0, 0, 0, 0.5);
}

.range-min::-webkit-slider-thumb:focus-visible,
.range-max::-webkit-slider-thumb:focus-visible {
  outline: none;
}

.range-min::-webkit-slider-thumb:focus-visible,
.range-max::-webkit-slider-thumb:focus-visible {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  top: -4px;
  left: -4px;
  border: 2px solid #AF4FFF;
}

.range-min::-webkit-slider-thumb:active,
.range-max::-webkit-slider-thumb:active {
  border: 2px solid rgb(0, 0, 0, 0.5);
  background-color: #000000;
}

.range-min::-moz-range-thumb,
.range-max::-moz-range-thumb {
  /* стилизация плашки */
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #F0F0F0;
  border: 2px solid #000000;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  transition: 0.3s;
}

.range-min::-moz-range-thumb:hover,
.range-max::-moz-range-thumb:hover {
  border: 2px solid rgb(0, 0, 0, 0.5);
}

.range-min::-moz-range-thumb:focus-visible,
.range-max::-moz-range-thumb:focus-visible {
  outline: none;
}

.range-min::-moz-range-thumb:focus-visible,
.range-max::-moz-range-thumb:focus-visible {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  top: -4px;
  left: -4px;
  border: 2px solid #AF4FFF;
}

.range-min::-moz-range-thumb:active,
.range-max::-moz-range-thumb:active {
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #000000;
}


/*--↑ ↑ ↑----double range slider ----------↑ ↑ ↑----------*/


/* ---- ↓ ↓ ↓ -------Кастомизация SELECT------- ↓ ↓ ↓ ---------*/

.goods-options > select {
  position: relative;
  /* background-color: transparent;*/
  display: flex;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  border: 0;
  width: 0.01px;
  height: 0.01px;
  margin: -0.01px;
}

select option {
  background-color: rgb(151, 195, 231);
  color: gray;
  width: 164px;
  padding: 16px 8px;
  cursor: pointer;
  transition: 0.4s;
}

select option:hover {
  padding-left: 25px;
  color: #000000;
  background-color: rgb(206, 206, 206);
}

.product-options-item {
  display: flex;
  align-items: center;
  border-left: 2px solid rgb(206, 206, 206);
  border-right: 2px solid rgb(206, 206, 206);
}

.goods-options {
  position: relative;
  display: flex;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  align-items: center;
  width: 164px;
  flex-wrap: wrap;
  transition: 0.4s;
}

.goods-options:focus-within::after {
  position: absolute;
  content: '';
  display: block;
  align-items: center;
  width: 146px;
  height: 34px;
  top: 16px;
  left: -4px;
  transition: 0.4s;
  border: 2px solid #AF4FFF;
}

.product-options {
  position: relative;
  display: flex;
  align-items: center;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: #F0F0F0;
  cursor: pointer;
  appearance: none;
  /*      Убираем стандартную стрелку*/
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.4s;
  z-index: 3;
}

.product-options::before {
  /* Добавляем кастомную стрелку*/
  position: absolute;
  content: '';
  display: block;
  top: -15px;
  left: 113px;
  width: 30px;
  height: 30px;
  background-image: url("../images/select-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.product-options:hover {
  color: rgb(0, 0, 0, 0.6)
}

.product-options:focus-visible {
  outline: none;
}

/* ------ ↑ ↑ ↑-----Кастомизация SELECT--------- ↑ ↑ ↑-------*/



/*--------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------ФИЛЬТР КАТАЛОГА -----------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------*/
